
<div class="min-h-screen bg-fondo p-3">

        <h1 class="text-6xl font-['Jersey 20'] mb-8 text-center">
            <span class="text-red-500">M</span><span class="text-blue-400">OO</span><span class="text-red-500">SIC</span>
        </h1>
  
    <div class="mb-12">
      <h2 class="text-4xl font-bold mb-6 ">RECOPILACION</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div *ngFor="let album of albums" class="bg-white shadow-md rounded-lg p-4">
          <img [src]="album.cover" [alt]="album.title" class="w-full h-48 object-cover mb-4">
          <h3 class="text-xl font-semibold mb-2">{{ album.title }}</h3>
          <p class="text-blue-400">{{ album.year }}</p>
          <p class="text-blue-400">{{ album.rating }}</p>
        </div>
      </div>
    </div>
  
    <div class="mb-12">
      <h2 class="text-4xl font-bold mb-6">RECOPILACION 2</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div *ngFor="let album of albums" class="bg-white shadow-md rounded-lg p-4">
          <img [src]="album.cover" [alt]="album.title" class="w-full h-48 object-cover mb-4">
          <h3 class="text-xl font-semibold mb-2">{{ album.title }}</h3>
          <p class="text-blue-400">{{ album.year }}</p>
          <p class="text-blue-400">{{ album.rating }}</p>
        </div>
      </div>
    </div>
  
    <div class="flex justify-center">
      <button class="bg-blue-400 text-white px-8 py-2 rounded-full text-xl font-semibold">STATS</button>
    </div>
  </div>  